<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<!-- <app-welcome></app-welcome>

<div>app.component content</div> -->

<!-- <app-login></app-login> -->

<!-- This will route the pages based on the paths setup in app.routes.ts -->
<app-menu></app-menu>

<div class="container">
  <router-outlet></router-outlet> 
</div>


<app-footer></app-footer>


<!-- at eval (eval at instantiateModule (file:///C:/Users/mailb/OneDrive/My%20Documents/GitHub/Full_Stack_Java/app4/frontend/ToDo/node_modules/vite/dist/node/chunks/dep-DyBnyoVI.js:52905:24), <anonymous>:185:85) -->
